a {
  text-decoration: none;
}

.movie-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /* padding: 5px; */
  margin: 5px; 
  height: auto;
  width: auto;
  background-color: rgb(29, 26, 26);
}

.movie-poster {
  margin: auto;
  width: 200px;
}

.movie-text {
  color: white;
  justify-content: center;
}