@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.title {
  font-family: "Love Ya Like A Sister";
}

.navigation-bar {
  font: "Love Ya Like A Sister";
  height: 20vh;
  background-color:rgb(175, 9, 9)
}

