@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.title {
  font-family: "Love Ya Like A Sister";
  font-size: 48pt;
  margin-bottom: 0;
  margin-top: 0;
}

.navigation-bar {
  font: "Love Ya Like A Sister";
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(175, 9, 9)
}



